name: Compilation_Test
on:
  push:
    branches:
      - 'main'
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Download repo files
        uses: actions/checkout@v6.0.2
      - name: Compile files
        uses: xu-cheng/latex-action@v4
        with:
          working_directory: AgileTeamWorkMethod
          root_file: AgileTeamWorkMethod.tex
      - name: Upload compiled file
        uses: actions/upload-artifact@v6
        with: 
          name: Agile_TeamWork_Method
          path: AgileTeamWorkMethod/AgileTeamWorkMethod.pdf
